In [29]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import itertools
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [30]:
df = pd.read_csv('Downloads\FakeNewsNet.csv')

df.shape
df.head()

,title,news_url,source_domain,tweet_num,real
0,Kandi Burruss Explodes Over Rape Accusation on...,http://toofab.com/2017/05/08/real-housewives-a...,toofab.com,42,1
1,People's Choice Awards 2018: The best red carp...,https://www.today.com/style/see-people-s-choic...,www.today.com,0,1
2,Sophia Bush Sends Sweet Birthday Message to 'O...,https://www.etonline.com/news/220806_sophia_bu...,www.etonline.com,63,1
3,Colombian singer Maluma sparks rumours of inap...,https://www.dailymail.co.uk/news/article-33655...,www.dailymail.co.uk,20,1
4,Gossip Girl 10 Years Later: How Upper East Sid...,https://www.zerchoo.com/entertainment/gossip-g...,www.zerchoo.com,38,1

In [31]:
df.tail()

,title,news_url,source_domain,tweet_num,real
23191,Pippa Middleton wedding: In case you missed it...,https://www.express.co.uk/news/royal/807049/pi...,www.express.co.uk,52,1
23192,Zayn Malik & Gigi Hadid’s Shocking Split: Why ...,hollywoodlife.com/2018/03/13/zayn-malik-gigi-h...,hollywoodlife.com,7,0
23193,Jessica Chastain Recalls the Moment Her Mother...,http://www.justjared.com/2018/01/17/jessica-ch...,www.justjared.com,26,1
23194,"Tristan Thompson Feels ""Dumped"" After Khloé Ka...",www.intouchweekly.com/posts/tristan-thompson-f...,www.intouchweekly.com,24,0
23195,Kelly Clarkson Performs a Medley of Kendrick L...,https://www.billboard.com/articles/news/bbma/8...,www.billboard.com,85,1

In [32]:
df.shape

(23196, 5)

In [33]:
df.info

<bound method DataFrame.info of                                                    title  \
0      Kandi Burruss Explodes Over Rape Accusation on...
1      People's Choice Awards 2018: The best red carp...
2      Sophia Bush Sends Sweet Birthday Message to 'O...
3      Colombian singer Maluma sparks rumours of inap...
4      Gossip Girl 10 Years Later: How Upper East Sid...
...                                                  ...
23191  Pippa Middleton wedding: In case you missed it...
23192  Zayn Malik & Gigi Hadid’s Shocking Split: Why ...
23193  Jessica Chastain Recalls the Moment Her Mother...
23194  Tristan Thompson Feels "Dumped" After Khloé Ka...
23195  Kelly Clarkson Performs a Medley of Kendrick L...

                                                news_url  \
0      http://toofab.com/2017/05/08/real-housewives-a...
1      https://www.today.com/style/see-people-s-choic...
2      https://www.etonline.com/news/220806_sophia_bu...
3      https://www.dailymail.co.uk/news/article-33655...
4      https://www.zerchoo.com/entertainment/gossip-g...
...                                                  ...
23191  https://www.express.co.uk/news/royal/807049/pi...
23192  hollywoodlife.com/2018/03/13/zayn-malik-gigi-h...
23193  http://www.justjared.com/2018/01/17/jessica-ch...
23194  www.intouchweekly.com/posts/tristan-thompson-f...
23195  https://www.billboard.com/articles/news/bbma/8...

               source_domain  tweet_num  real
0                 toofab.com         42     1
1              www.today.com          0     1
2           www.etonline.com         63     1
3        www.dailymail.co.uk         20     1
4            www.zerchoo.com         38     1
...                      ...        ...   ...
23191      www.express.co.uk         52     1
23192      hollywoodlife.com          7     0
23193      www.justjared.com         26     1
23194  www.intouchweekly.com         24     0
23195      www.billboard.com         85     1

[23196 rows x 5 columns]>

In [35]:
print("Any missing value ?",df.isnull().values.any())

Any missing value ? True

In [37]:
per_missing = df.isnull().sum()*100 / len(df)
per_missing

title            0.000000
news_url         1.422659
source_domain    1.422659
tweet_num        0.000000
real             0.000000
dtype: float64

In [38]:
df.dropna(axis=0)

,title,news_url,source_domain,tweet_num,real
0,Kandi Burruss Explodes Over Rape Accusation on...,http://toofab.com/2017/05/08/real-housewives-a...,toofab.com,42,1
1,People's Choice Awards 2018: The best red carp...,https://www.today.com/style/see-people-s-choic...,www.today.com,0,1
2,Sophia Bush Sends Sweet Birthday Message to 'O...,https://www.etonline.com/news/220806_sophia_bu...,www.etonline.com,63,1
3,Colombian singer Maluma sparks rumours of inap...,https://www.dailymail.co.uk/news/article-33655...,www.dailymail.co.uk,20,1
4,Gossip Girl 10 Years Later: How Upper East Sid...,https://www.zerchoo.com/entertainment/gossip-g...,www.zerchoo.com,38,1
...,...,...,...,...,...
23191,Pippa Middleton wedding: In case you missed it...,https://www.express.co.uk/news/royal/807049/pi...,www.express.co.uk,52,1
23192,Zayn Malik & Gigi Hadid’s Shocking Split: Why ...,hollywoodlife.com/2018/03/13/zayn-malik-gigi-h...,hollywoodlife.com,7,0
23193,Jessica Chastain Recalls the Moment Her Mother...,http://www.justjared.com/2018/01/17/jessica-ch...,www.justjared.com,26,1
23194,"Tristan Thompson Feels ""Dumped"" After Khloé Ka...",www.intouchweekly.com/posts/tristan-thompson-f...,www.intouchweekly.com,24,0
23195,Kelly Clarkson Performs a Medley of Kendrick L...,https://www.billboard.com/articles/news/bbma/8...,www.billboard.com,85,1

In [40]:
dup_data=df.duplicated().any()
print("Are there any duplicated ?",dup_data)

Are there any duplicated ? True

In [41]:
df.columns

Index(['title', 'news_url', 'source_domain', 'tweet_num', 'real'], dtype='object')

In [42]:
labels=df.real
labels.head()

0    1
1    1
2    1
3    1
4    1
Name: real, dtype: int64

In [57]:
x_train,x_test,y_train,y_test=train_test_split(df['title'], labels, test_size=0.2, random_state=7)

In [58]:
tfidf_vectorizer=TfidfVectorizer(stop_words='english', max_df=0.7)
tfidf_train=tfidf_vectorizer.fit_transform(x_train) 
tfidf_test=tfidf_vectorizer.transform(x_test)

In [59]:
pac=PassiveAggressiveClassifier(max_iter=50)
pac.fit(tfidf_train,y_train)

y_pred=pac.predict(tfidf_test)
score=accuracy_score(y_test,y_pred)
print(f'Accuracy: {round(score*100,2)}%')

Accuracy: 80.0%

C:\Users\UDAY\anaconda3\lib\site-packages\sklearn\linear_model\_stochastic_gradient.py:574: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn("Maximum number of iteration reached before "

In [60]:
confusion_matrix(y_test,y_pred, labels=[0,1])

array([[ 689,  460],
       [ 468, 3023]], dtype=int64)